@import "https://unpkg.com/open-props/easings.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --border-radius: 15px;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template: auto / minmax(180px, 13%) 6fr 3fr;

  .container-children {
    display: grid;
    place-content: center;
    text-align: center;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-primary);
  }
}

:root {
  --light-mode-std: #fff;
  --my-hover-color: rgba(150, 150, 150, 0.2);
  --md-sys-color-background: var(--light-mode-std);
  --md-sys-color-primary: var(--light-mode-std);
  --md-sys-color-primary-container: var(--light-mode-std);
  --md-sys-color-secondary: var(--light-mode-std);
}

[data-theme="dark"] {
  --dark-mode-std: #1e1e1e;
  --my-hover-color: rgba(192, 192, 192, 0.4);
  --md-sys-color-background: var(--dark-mode-std);
  --md-sys-color-primary: var(--dark-mode-std);
  --md-sys-color-primary-container: var(--dark-mode-std);
  --md-sys-color-secondary: var(--dark-mode-std);
}
