 :root {
    --primary: 4290516480;
    --onPrimary: 4294967295;
    --primaryContainer: 4294957780;
    --onPrimaryContainer: 4282319616;
    --secondary: 4286010960;
    --onSecondary: 4294967295;
    --secondaryContainer: 4294957780;
    --onSecondaryContainer: 4281079057;
    --tertiary: 4285488174;
    --onTertiary: 4294967295;
    --tertiaryContainer: 4294631590;
    --onTertiaryContainer: 4280621568;
    --error: 4290386458;
    --onError: 4294967295;
    --errorContainer: 4294957782;
    --onErrorContainer: 4282449922;
    --background: 4294966271;
    --onBackground: 4280293913;
    --surface: 4294966271;
    --onSurface: 4280293913;
    --surfaceVariant: 4294303193;
    --onSurfaceVariant: 4283646784;
    --outline: 4286935920;
    --outlineVariant: 4292395710;
    --shadow: 4278190080;
    --scrim: 4278190080;
    --inverseSurface: 4281741101;
    --inverseOnSurface: 4294700779;
    --inversePrimary: 4294948006;
  }